<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="main-content">
      <ol>
        <li *ngFor="let item of items | slice:0:30" class="post">
          <app-hacker-news-item class="item-block" itemID="{{ item }}"></app-hacker-news-item>
        </li>
      </ol>
    <div class="nav">
      <a href="" class="prev">
        ‹ Prev
      </a>
      <a href="" class="more">
        More ›
      </a>
    </div>
  </div>
  </body>
</html>
