.full-screen {
  height: 100vw;
}

.center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-rose {
  background-image: url('../../assets/blue-rose.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  font-family: Arial;
}
